.sidebar
{
    background-color: white;
    position: fixed;
    top: 72px;
    left: 0;
    bottom: 0;
    width: 85px;
    background-color: white;
    padding-right: 10px;
    padding-top: 20px;
    z-index: 200px;
}

.sidebar-link:hover
{
    background-color: rgb(234, 230, 230);
    cursor: pointer;
}

.sidebar-link
{
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link img
{
    height: 25px;
    margin-bottom: 5px;
}

.sidebar-link div
{
    font-family: Roboto, Arial;
    font-size: 12px;
}
